html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000000;
}


.img-1, .img-2, .img-3 {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  background-color: transparent;
}

.img-1 {
  background-image: url('../img/carousel1.jpg');
}

.img-2 {
  background-image: url('../img/carousel2.jpg');
  background-position:inherit;

}
.img-3{
  background-image: url('../img/carousel3.jpg');
  background-position:inherit;

}

.navbar .carousel{
  background-color: transparent;
}

.header-svg {
  width: 3rem;
}

.barra-scroll {
  background-color: rgba(0, 0, 0, 0.7);
}